@model IEnumerable<RecetasApp.Web.Data.Entities.Comentario>

@{
    ViewData["Title"] = "Index";
}

<h2>Comentarios</h2>
<br />
<p>
    <a asp-action="Create" class="btn btn-success">Agregar comentarios</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Receta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comentari)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Receta.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comentari)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
