@model RecetasApp.Web.Data.Entities.PasosReceta

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PasosReceta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Receta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Receta.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumPaso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumPaso)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Instrucciones)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Instrucciones)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
