@model RecetasApp.Web.Data.Entities.Receta


@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Receta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tiempo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tiempo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Raciones)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Raciones)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Region.NomRegion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Region.NomRegion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PasosRecetas.FirstOrDefault().NumPaso)
        </dt>
        @foreach (var item in Model.PasosRecetas)
        {
            <dd>
                @Html.DisplayFor(model => item.NumPaso)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.PasosRecetas.FirstOrDefault().Instrucciones)
        </dt>
        @foreach (var item in Model.PasosRecetas)
        {
            <dd>
                @Html.DisplayFor(model => item.Instrucciones)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.RecetaIngredientes.FirstOrDefault().Cantidad)
        </dt>
        @foreach (var item in Model.RecetaIngredientes)
        {
            <dd>
                @Html.DisplayFor(model => item.Cantidad)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.RecetaIngredientes.FirstOrDefault().Ingredientes.Ingredient)
        </dt>
        @foreach (var item in Model.RecetaIngredientes)
        {
            <dd>
                @Html.DisplayFor(model => item.Ingredientes.Ingredient)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.RecetaIngredientes.FirstOrDefault().Medidas.Abreviacion)
        </dt>
        @foreach (var item in Model.RecetaIngredientes)
        {
            <dd>
                @Html.DisplayFor(model => item.Medidas.Abreviacion)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.RecetaIngredientes.FirstOrDefault().Medidas.Medid)
        </dt>
        @foreach (var item in Model.RecetaIngredientes)
        {
            <dd>
                @Html.DisplayFor(model => item.Medidas.Medid)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Comentarios.FirstOrDefault().Comentari)
        </dt>
        @foreach (var item in Model.Comentarios)
        {
            <dd>
                @Html.DisplayFor(model => item.Comentari)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Observacions.FirstOrDefault().Observacio)
        </dt>
        @foreach (var item in Model.Observacions)
        {
            <dd>
                @Html.DisplayFor(model => item.Observacio)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.CategoriaComidaRecetas.FirstOrDefault().CategoriaComidas.Categoria)
        </dt>
        @foreach (var item in Model.CategoriaComidaRecetas)
        {
            <dd>
                @Html.DisplayFor(model => item.CategoriaComidas.Categoria)
            </dd>
        }

        <dt>
            #Likes
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Likes.Count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagenUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImagenUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Temporada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Temporada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dificultad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dificultad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActiComentarios)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActiComentarios)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumLikes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumLikes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
