@model RecetasApp.Web.Data.Entities.Receta


@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Receta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tiempo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tiempo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Raciones)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Raciones)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Region.NomRegion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Region.NomRegion)
        </dd>

        <p style="text-align: center">CategoriaComida</p>
        <dd>
            <table class="table">
                <tr>
                    <th>Categoria</th>
                </tr>
                @foreach (var item in Model.CategoriaComidaRecetas)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CategoriaComidas.Categoria)
                        </td>

                    </tr>
                }
            </table>
        </dd>



        <p style="text-align: center">Ingredientes</p>
        <dd>
            <table class="table">
                <tr>
                    <th>Cantidad</th>
                    <th>Medidas</th>
                    <th>Ingredientes</th>
                </tr>
                @foreach (var item in Model.RecetaIngredientes)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cantidad)
                            @Html.DisplayFor(modelItem => item.Medidas.Abreviacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Medidas.Medid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ingredientes.Ingredient)
                        </td>
                    </tr>
                }
            </table>
        </dd>


        <p style="text-align: center">Pasos</p>
        <dd>
            <table class="table">
                <tr>
                    <th>NumPaso</th>
                    <th>Instrucciones</th>
                </tr>
                @foreach (var item in Model.PasosRecetas)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumPaso)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Instrucciones)
                        </td>
                    </tr>
                }
            </table>
        </dd>
        <p style="text-align: center">Observaciones</p>
        <dd>
            <table class="table">
                <tr>
                    <th>Observaciones</th>
                </tr>
                @foreach (var item in Model.Observacions)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Observacio)
                        </td>

                    </tr>
                }
            </table>
        </dd>


        <p style="text-align: center">Comentarios</p>
        <dd>
            <table class="table">
                <tr>
                    <th>Usuario</th>
                    <th>Comentario</th>
                </tr>
                @foreach (var item in Model.Comentarios)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Comentari)
                        </td>
                    </tr>
                }
            </table>
        </dd>





        <dt>
            Numero de Likes
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Likes.Count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagenUrl)
        </dt>
        <dd>
            @if (!string.IsNullOrEmpty(Model.ImagenUrl))
            {
                <img src="@Url.Content(Model.ImagenUrl)" alt="Image" style="width:300px;height:450px;max-width: 100%; height: auto;" />
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Temporada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Temporada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dificultad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dificultad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActiComentarios)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActiComentarios)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
