@model RecetasApp.Web.Data.Entities.Receta

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Receta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tiempo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tiempo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Raciones)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Raciones)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImagenUrl)
        </dt>
        <dd>
            @if (!string.IsNullOrEmpty(Model.ImagenUrl))
            {
                <img src="@Url.Content(Model.ImagenUrl)" alt="Image" style="width:300px;height:450px;max-width: 100%; height: auto;" />
            }
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Temporada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Temporada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dificultad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dificultad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comentarios)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comentarios)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumLikes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumLikes)
        </dd>

    </dl>
</div>

<script language="javascript" type="text/javascript">

    function save() {
        val = document.myform.text_area.value;
        mydoc = document.open();
        mydoc.write(val);
        mydoc.execCommand("saveAs", true, ".txt"); //you can change the .txt to your extention
        history.go(-1);
    }

</script>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-success">Back to List</a>

    <button class="btn btn-primary " onclick="window.print();return false;" /> Imprimir
    
</div>


