@model IEnumerable<RecetasApp.Web.Data.Entities.Receta>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<br />

<h2>Recetas</h2>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Create New</a>
</p>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Recetas</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="RecetasTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.User.FullName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Descripcion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Region.NomRegion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Tiempo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Raciones)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ImagenUrl)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PasosRecetas)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.RecetaIngredientes)
                            </th>
                            
                            <th>
                                @Html.DisplayNameFor(model => model.Temporada)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Dificultad)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Comentarios)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NumLikes)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Region.NomRegion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tiempo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Raciones)
                            </td>
                            <td>
                                @if (!string.IsNullOrEmpty(item.ImagenUrl))
                                {
                                    <img src="@Url.Content(item.ImagenUrl)" alt="Image" style="width:75px;height:75px;max-width: 100%; height: auto;" />
                                }
                            </td>

                            <th>
                                @Html.DisplayFor(modelItem => item.PasosRecetas)
                            </th>
                            <th>
                                @Html.DisplayFor(modelItem => item.RecetaIngredientes)
                            </th>
                            
                            <td>
                                @Html.DisplayFor(modelItem => item.Temporada)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Dificultad)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Comentarios)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumLikes)
                            </td>
                            <td>
                                <a asp-action="Edit" class="btn btn-default" asp-route-id="@item.Id"><i class="glyphicon glyphicon-pencil"></i> </a>
                                <a asp-action="Details" class="btn btn-default" asp-route-id="@item.Id"><i class="glyphicon glyphicon-list"> </i> </a>
                                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id"><i class="glyphicon glyphicon-trash"></i> </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#RecetasTable').DataTable();
        });
    </script>
}
